@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutBS";
}

<div class="text-center card p-3 my-5 shadow col-6 m-auto">
    <h3>Welcome @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName !</h3>
    <p>You email is @ViewBag.UserLoggedIn.Email</p>
    <a href="/edit/patientprofile" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i class="bi bi-gear"></i>
        Edit Profile</a>

    <a asp-action="logout" asp-controller="Auth" class="w-50 m-auto btn btn-warning my-2">Logout</a>
</div>

<div class="mainbody">

</div>
<div class="row">
    <div class="col-12 col-sm-4">

        <div class="sticky-top" style="top: 4rem; z-index: -9999">


            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-500 rounded-3">

                <img src="https://www.newsshare.in/wp-content/uploads/2/Cartoon-WhatsApp-DP-44.jpg"
                    class="rounded-circle mx-auto border border-5 shadow border-white w-50 my-2" alt="Profile Picture">
                <h4 class="my-2 text-center"> @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName</h4>
                <p class="my-2 text-center">Preferred Pronouns: @ViewBag.UserLoggedIn.Pronouns</p>

                <a href="/edit/patientprofile" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i
                        class="bi bi-gear"></i> Edit Profile</a>
            </div>

            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-100 rounded-3">
                <div class="card-header border-bottom bg-gray-500">
                    <span class="card-title fw-bold">Patient Information:</span>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-gray-100">Sex:</li>
                        <li class="list-group-item bg-gray-200">Allergies:

                            <partial name="_Allergies-MedHx" />
                        </li>
                        <li class="list-group-item bg-gray-100">Height:</li>
                        <li class="list-group-item bg-gray-200">Medical History:</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="col-12 col-sm-8">
        <h3>Add Medical Information:</h3>
        <div>
            <h4>Medications</h4>
            <partial name="_AddMedication" />
        </div>
        <div>
            @if (ViewBag.PatientInfo.Medications.Count != 0)
{    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.PatientInfo.Medications)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Description</td>
                    <td>
                        <a href="/remove/medication/@i.MedicationId" class="btn btn-primary">Remove Medication</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
        } else {
            <p>You currently do not have any medications listed. </p>
        }

        </div>

        <div>
            <h4>Allergies</h4>
            <partial name="_AddAllergy" />
        </div>
        <div>
            @if (@ViewBag.PatientAllergies.Allergies.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Reaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in ViewBag.PatientAllergies.Allergies)
                        {
                            <tr>
                                <td>@i.Name</td>
                                <td>@i.Reaction</td>
                                <td>
                                    <a href="/remove/allergy/@i.AllergyId" class="btn btn-primary">Remove Allergy</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently do not have any allergies listed. </p>
            }
        </div>
        <div>
            <h4>Medical History </h4>
            <partial name="_AddMedHx" />
        </div>
        <div>
            @if (@ViewBag.PatientMedHx.MedicalHistory.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Diagnosis</th>
                            <th scope="col">Year Diagnosed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in ViewBag.PatientMedHx.MedicalHistory)
                        {
                            <tr>
                                <td>@i.Diagnosis</td>
                                <td>@i.DateofDx</td>
                                <td><a href="/remove/medicalhx/@i.MedicalHistoryId" class="btn btn-primary">Remove Diagnosis</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently do not have any diagnoses listed. </p>
            }
        </div>
    </div>
</div>
