<form id="messageForm" action="/senddrmessage" method="post">
    <div class="col-12 col-sm-8" style="border: 1px solid black; border-radius: 5px; padding: 10px; height: 100hv">
        <div class="m-3" style="max-height: 500px;overflow-y: scroll;">
            <input type="hidden" name="ProviderId" value="@ViewBag.ProviderId">
            <input type="hidden" name="PatientId" value="@ViewBag.PatientId">
            <input type="hidden" name="WriterId" value="@ViewBag.UserId">

            @if (ViewBag.Messages != null)
            {
                @foreach (var i in ViewBag.Messages)
                {
                    @if (i.WriterId == ViewBag.UserId)
                    {
                        <div class="row justify-content-end">
                            <text class="col-6"></text>

                            <div class="cardcol-6">
                                <div class="card-body">
                                    <h5 class="card-title">@ViewBag.UserLoggedIn.FirstName</h5>
                                    <p class="card-text">@i.Text</p>
                                    <h6 class="text-muted col-4">@i.CreatedAt</h6>
                                </div>
                            </div>

                        </div>
                    }
                    else
                    {
                        <div class="row justify-content-start ">
                            <div class="cardcol-6">
                                <div class="card-body">
                                    <h5 class="card-title">@ViewBag.Provder.User.FirstName</h5>
                                    <p class="card-text">@i.Text</p>
                                    <h6 class="text-muted col-4">@i.CreatedAt</h6>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
            else
            {
                <p> You have no messages</p>
            }
            <div id="bottom"></div>
        </div>


        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Message</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="Text"></textarea>
        </div>
        <a href="#" class="btn btn-primary" aria-current="true" value="@ViewBag.ProviderId"
            onclick="UpdateMessages(document.getElementById('exampleFormControlTextarea1').value, @ViewBag.UserId, @ViewBag.ProviderId, @ViewBag.PatientId)">Send
            Message</a>
    </div>
</form>
