<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - VirtualClinic</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/css/btnavhero.css"/>
    <link rel="stylesheet" href="~/css/Theresa.css"/>
    <link rel="stylesheet" href="~/css/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <!--load all Font Awesome styles -->
    <link href="~/css/node_modules/@@fortawesome/fontawesome-pro/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css"/>
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/kt-2.6.4/sc-2.0.5/sb-1.3.2/sp-2.0.0/datatables.min.css"/>
     
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jq-3.6.0/dt-1.11.5/af-2.3.7/b-2.2.2/kt-2.6.4/sc-2.0.5/sb-1.3.2/sp-2.0.0/datatables.min.js"></script>
    
    @* // Example: load daily-js and embed a call *@
    <script crossorigin src="https://unpkg.com/@@daily-co/daily-js"></script>
    

</head>
<body>
<div id="page-container">
  
    @* <header> *@
    @*     <partial name="_MBDnavbar.cshtml"/> *@
    @* </header> *@

    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand col-md-2 col-lg-1 me-0 px-3 fs-2 p-0"><i class="fa-duotone fa-display-medical"></i></a>
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @* <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search"> *@
        <div class="w-100"></div>
        @* <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3">Company name</a> *@
        <div class="navbar-nav flex-row">
            <div class="nav-item text-nowrap">
                <span class="nav-link px-3 text-light"><i class="fa-duotone fa-calendar-days"></i> @DateTime.Now.ToString("ddd dd, MMM, yyyy") <span id="timetopmenu"></span></span>
                </div>
            <div class="nav-item text-nowrap">
                <a class="nav-link px-3" asp-action="logout" asp-controller="Auth">Logout <i class="fa-duotone fa-person-walking-arrow-right"></i></a>
            </div>
        </div>
    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-2 col-lg-1 d-md-block bg-light sidebar collapse">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column align-content-center">
                        <li class="nav-item text-center mb-2">
                            
                        @if (@ViewBag.UserLoggedIn.userType == "provider")
                        {
                            <a asp-action="ProviderDashboard" asp-controller="Provider" class="btn-left-sidebar btn btn-outline-secondary text-center fs-3" aria-current="page" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Dashboard">
                                <i class="fa-duotone fa-gauge-max"></i>
                            </a>  
                        }
                        else
                        {
                            <a asp-action="PatientDashboard" asp-controller="Patient" class="btn-left-sidebar btn btn-outline-secondary text-center fs-3" aria-current="page" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Dashboard">
                                <i class="fa-duotone fa-grid-horizontal"></i>
                            </a>
                        }
                            

                        </li>
                        <li class="nav-item text-center mb-2">
                            <a asp-action="ProviderInbox" asp-controller="Provider" class="btn-left-sidebar btn btn-outline-secondary fs-3 text-center" aria-current="page"  data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Messages">
                                <i class="fa-duotone fa-messages"></i>
                            </a>
                        </li>
                        @if (@ViewBag.UserLoggedIn.userType == "provider")
                        {
                            <li class="nav-item text-center mb-2">
                                <a asp-action="ProviderCreateAppt" asp-controller="Provider" class="btn-left-sidebar btn btn-outline-secondary fs-3 text-center" aria-current="page" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Create an Appt">
                                    <i class="fa-duotone fa-calendar-plus"></i>
                                </a>
                            </li>
                        }
                        <li class="nav-item text-center mb-2">
                            <a asp-controller="Provider" asp-action="ProviderAttendAppt" class="btn-left-sidebar btn btn-outline-secondary fs-3 text-center" aria-current="page"  data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Attend">
                                <i class="fa-solid fa-circle-play"></i>
                            </a>
                        </li>
                        @if (@ViewBag.UserLoggedIn.userType == "provider")
                        {
                            <li class="nav-item text-center mb-2">
                                <a asp-controller="Provider" asp-action="AllPatients" class="btn-left-sidebar btn btn-outline-secondary fs-3 text-center" aria-current="page" data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="My Patients">
                                    <i class="fa-solid fa-hospital-user"></i>
                                </a>
                            </li>
                        }
                        @if (@ViewBag.UserLoggedIn.userType == "provider")
                        {
                            <li class="nav-item text-center mb-2">
                                <a asp-action="EditProviderProfile" asp-controller="Provider" class="btn-left-sidebar btn btn-outline-secondary fs-3 text-center" aria-current="page"  data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Edit Profile">
                                    <i class="fa-duotone fa-user-doctor"></i>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item text-center mb-2">
                                <a asp-action="EditPatientProfile" asp-controller="Patient" class="btn-left-sidebar btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center fs-3" aria-current="page"  data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Edit Profile">
                                    <i class="fa-duotone fa-id-badge"></i>
                                </a>
                            </li>
                        }
                        <li class="nav-item text-center mb-2">
                            <a asp-action="logout" asp-controller="Auth" class="btn-left-sidebar btn btn-outline-secondary btn-sm w-75 rounded-3 mx-auto px-4 py-1 text-center fs-3" aria-current="page"  data-bs-placement="right" data-bs-toggle="tooltip" data-bs-html="true" title="Logout">
                                <i class="fa-duotone fa-right-from-bracket"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </nav>

            <main class="col-md-10 ms-sm-auto col-lg-11 px-md-4">
                <div class="w-100 d-block pb-3"></div>
                @RenderBody()
            </main>
        </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    <script src="~/css/node_modules/autosize/dist/autosize.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.querySelectorAll(".btn-left-sidebar").forEach(link => {
            if (link.getAttribute("href") === window.location.pathname) {
                link.classList.remove("btn-outline-secondary");
                link.classList.add("btn-primary");
            }
        });
    
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }
        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>
</div>
</body>
</html>