@model User

<div class="col-12 col-sm-4">
    <div class="sticky-top" style="top: 4rem; z-index: 1">

        <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-500 rounded-3">
            <div class="imgprofile">
                <img src="~/imgs/profileimg/@ViewBag.UserLoggedIn.ImageProfile"
                     class="rounded-circle border border-3 shadow-sm border-white" alt="Profile Picture">
            </div>
            @if (ViewBag.UserLoggedIn.PreferredName != null)
            {
                <h4 class="text-center my-2">"@ViewBag.UserLoggedIn.PreferredName"</h4>
            }
            <h5 class="my-2 text-center"> @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName</h5>
            @if (ViewBag.UserLoggedIn.Pronouns != null)
            {
                <p class="my-2 text-center">Pronouns: @ViewBag.UserLoggedIn.Pronouns</p>
            }
            <form asp-controller="Auth" asp-action="UploadPatientPic" enctype="multipart/form-data">
                <div class="input-group input-group-sm col-9 mx-auto p-3">
                    <input class="form-control" id="inputImageFile" asp-for="ImageFile" accept="image/*">
                    <button type="submit" class="btn btn-outline-secondary">Upload</button>
                </div>
            </form>

            @* <a href="/" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i class="bi bi-gear"></i> Edit
                Profile</a> *@
        </div>

        <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-100 rounded-3">

            <div class="card-header border-bottom bg-gray-500">
                <span class="card-title fw-bold">Patient Information:</span>
            </div>

            <div class="card-body p-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-gray-100">Sex: @ViewBag.UserLoggedIn.Sex </li>
                    <li class="list-group-item bg-gray-100">Height:
                        @if (ViewBag.PatientInfo != null)
                        {
                            @if (ViewBag.PatientInfo.Height != null)
                            {
                                @ViewBag.PatientInfo.Height
                                ;
                            }
                        }
                    </li>
                    <li class="list-group-item bg-gray-100 p-0 m-0">
                        <partial name="_Allergies-MedHx" />
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
