@model Patient


<tbody>
    @if (ViewBag.PatientAppt.Appointments.Count != 0)
    {
        <table class="table">
        <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Date of Visit</th>
            <th scope="col">Summary</th>
            <th scope="col">With:</th>
            <th scope="col">Actions:</th>
        </tr>
        </thead>
        <tbody> 
            @foreach (var i in ViewBag.PatientAppt.Appointments)
            {
                <tr>
                    <td>@i.AppointmentId</td>
                    <td>@i.DateTime.ToString("MM/dd/yyyy hh:mm tt")</td>
                    <td>@i.MedicalNotes[0].Summary</td>
                    <td>Dr. @i.Provider.User.PreferredName</td>
                    <td>
                        <button type="submit" class="btn btn-outline-primary btn-sm" onclick="getMedicalNotes(@i.MedicalNotes[0].MedicalNoteId)"><i class="bi bi-eye"></i> View</button>
                    </td>
                </tr>
            }    
        </tbody>
        </table>
    } 
    else
    {
        <p>You do not have any previous visits. </p>
    }

