                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#nav-today" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-tomorrow" data-toggle="tab" class="nav-link maintext">
                            @DateTime.Today.AddDays(1).ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-t2" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.AddDays(2).ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-t3" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.AddDays(3).ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-t4" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.AddDays(4).ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-t5" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.AddDays(5).ToString("dddd, MMMM dd yyyy")</a></li>
                    <li><a href="#nav-t6" data-toggle="tab"
                            class="nav-link maintext">@DateTime.Today.AddDays(6).ToString("dddd, MMMM dd yyyy")</a></li>
                </ul>

                @* dbContext ==> where (DateTime.Today.AddDays(2 + (7 * Count))) *@


            </div>
            @* CALENDAR TABS *@

            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-today" role="tabpanel" aria-labelledby="nav-today-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.AppointmentToday != null)
                            {
                                @foreach (var i in ViewBag.AppointmentToday)
                                {
                                    <tr>
                                        <td scope="col">i </td>
                                        <td>i.User.FirstName i.User.LastName</td>
                                        <td>i.Duration minutes</td>
                                        <td>i.Status </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>

                </div>

                <div class="tab-pane fade" id="nav-tomorrow" role="tabpanel" aria-labelledby="nav-tomorrow-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="nav-t2" role="tabpanel" aria-labelledby="nav-t2-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">t2</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="nav-t3" role="tabpanel" aria-labelledby="nav-t3-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#t3</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="nav-t4" role="tabpanel" aria-labelledby="nav-t4-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>
                </div>

                <div class="tab-pane fade" id="nav-t5" role="tabpanel" aria-labelledby="nav-t5-tab">
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>

                    <div class="tab-pane fade" id="nav-t6" role="tabpanel" aria-labelledby="nav-t6-tab">test6
                    <table class="maintext table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Duration of Appointment</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @* @if(ViewBag.AppointmentToday){
                                @foreach (var i in ViewBag.AppointmentToday)
                                { *@
                            <tr>
                                <td scope="col">i </td>
                                <td>i.User.FirstName i.User.LastName</td>
                                <td>i.Duration minutes</td>
                                <td>i.Status </td>
                            </tr>
                            @* }
                                } *@
                        </tbody>
                    </table>
                </div>