@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutBS";
}

@model MedicalNote

<div class="row">
    <div class="col-12 col-sm-4">

        <div class="sticky-top" style="top: 4rem; z-index: 1">
            
            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-500 rounded-3">

                <img src="https://www.newsshare.in/wp-content/uploads/2/Cartoon-WhatsApp-DP-44.jpg"
                    class="rounded-circle mx-auto border border-5 shadow border-white w-50 my-2" alt="Profile Picture">
                <h4 class="my-2 text-center">"@ViewBag.ApptInfo.Patient.User.PreferredName"</h4>
                <h4> @ViewBag.ApptInfo.Patient.User.getFullName()</h4>
                <a href="#" class="btn btn-sm btn-outline-light col-8 mx-auto my-3">
                    <i class="bi bi-gear"></i> Edit
                    Profile
                </a>
            </div>

            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-100 rounded-3">
                <div class="card-header border-bottom bg-gray-500">
                    <span class="card-title fw-bold">Patient informations:</span>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-gray-100">Sex: @ViewBag.ApptInfo.Patient.User.Sex</li>
                        <li class="list-group-item bg-gray-100">Height: @ViewBag.ApptInfo.Patient.Height cm</li>
                        <li class="list-group-item bg-gray-100">Weight: @ViewBag.ApptInfo.Patient.Weight kg (@((int) (Convert.ToDouble(ViewBag.ApptInfo.Patient.Weight) * 2.2)) lbs)</li>
                        <li class="list-group-item bg-gray-200">
                            <partial name="_Allergies-MedHx"/>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="col-12 col-sm-8">
        <div class="col-sm-12">
            
            <div class="rowtwo">

                <partial name="_FormVisitNotes"/>

                <partial name="_AddMedication"/>

            </div>
            
        </div>


    </div>
</div>