@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutBS";
}

<div class="row">

    <partial name="_LeftColumnPtProviderView"/>

    <div class="col-12 col-sm-8">

            <div class="card mb-3">
                <div class="card-header bg-gray-500">
                    <h5 class="mb-0">Visit History:</h5>
                </div>
                <div class="card-body p-0">
                    <partial name="_PatientAppt"/>
                </div>

                @* <partial name="_MedicalNotesAcc"/> *@
                
            </div>


        <h3>Medical Information:</h3>

        <div>
            <div class="card mb-4">
                <div class="card-header bg-gray-500">

                    <h5 class="mb-0">Prescribed Medications</h5>

                </div>
                @if (ViewBag.PatientInfo != null && ViewBag.PatientInfo.Medications != null)
                @* @if (ViewBag.PatientInfo.Medications.Count != 0) *@
                {
                    <div class="card-body" style="max-height: 250px;overflow-y: scroll;">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Prescribed Medication Name</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var i in ViewBag.PatientInfo.Medications)
                            {
                                <tr>
                                    <td>@i.Name</td>
                                    <td>@i.Description</td>
                                    <td> 
                                    @*     <a href="/remove/medication/@i.MedicationId" class="btn btn-primary btn-sm">Remove Medication</a> *@
                                    </td> 
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    <p>You currently do not have any prescribed medications listed. </p>
                }
            </div>
            <div class="card mb-4">
                <div class="card-header bg-gray-500">
                    <h5 mb-0>Patient Reported Medications</h5>

                </div>
                <div class="card-body">

                    <div>
                        <p class="fs-5">Add Medications</p>
                        <partial name="_AddPtMed"/>
                    </div>
                    <hr/>
                @if (ViewBag.PatientInfo != null && ViewBag.PatientInfo.ReportedMedications != null)
                    @* @if (ViewBag.PatientInfo.ReportedMedications.Count != 0) *@
                    {
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Reported Medication Name</th>
                                <th scope="col">Description</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var i in ViewBag.PatientInfo.ReportedMedications)
                            {
                                <tr>
                                    <td>@i.Name</td>
                                    <td>@i.Description</td>
                                    <td>
                                        <a href="/remove/ptmedication/@i.ReportedMedicationId" class="btn btn-primary btn-sm">Remove Medication</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>You do not have any reported medications listed. </p>
                    }
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header bg-gray-500">
                    <h5 mb-0>Patient Reported Allergies</h5>

                </div>
                <div class="card-body">
                    <p class="fs-5">Add Allergies</p>
                    <partial name="_AddAllergy"/>
                    <hr/>

                    @if (@ViewBag.PatientAllergies != null)
                    @* @if (@ViewBag.PatientAllergies.Allergies.Count != 0) *@
                    {
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Reaction</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var i in ViewBag.PatientAllergies.Allergies)
                            {
                                <tr>
                                    <td>@i.Name</td>
                                    <td>@i.Reaction</td>
                                    <td>
                                        <a href="/remove/allergy/@i.AllergyId" class="btn btn-primary">Remove Allergy</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>You currently do not have any allergies listed. </p>
                    }
                </div>
            </div>

            <div class="card mb-4">
                <div class="card-header bg-gray-500">
                    <h5 mb-0>Patient Reported Medical History</h5>

                </div>
                <div class="card-body">
                    <p class="fs-5">Medical History</p>
                    <partial name="_AddMedHx"/>

                    <hr/>
                    @if (@ViewBag.PatientMedHx != null)

                    @* @if (@ViewBag.PatientMedHx.MedicalHistory.Count != 0) *@
                    {
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Diagnosis</th>
                                <th scope="col">Year Diagnosed</th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var i in ViewBag.PatientMedHx.MedicalHistory)
                            {
                                <tr>
                                    <td>@i.Diagnosis</td>
                                    <td>@i.DateofDx</td>
                                    <td>
                                        <a href="/remove/medicalhx/@i.MedicalHistoryId" class="btn btn-primary">Remove Diagnosis</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>You currently do not have any diagnoses listed. </p>
                    }

                </div>
            </div>
        </div>
    </div>
</div>