@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutBS";
}

<div class="text-center card p-3 my-5 shadow col-6 m-auto">
    <h3>Welcome @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName !</h3>
    <p>You email is @ViewBag.UserLoggedIn.Email</p>
    <a href="/edit/patientprofile" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i class="bi bi-gear"></i>
        Edit Profile</a>
    <a href="/edit/medicalinfo" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i class="bi bi-gear"></i>
        Edit Medical Information</a>


    <a asp-action="logout" asp-controller="Auth" class="w-50 m-auto btn btn-warning my-2">Logout</a>
</div>

<div class="mainbody">

</div>
<div class="row">
    <div class="col-12 col-sm-4">

        <div class="sticky-top" style="top: 4rem; z-index: 1">

            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-500 rounded-3">

                <img src="https://www.newsshare.in/wp-content/uploads/2/Cartoon-WhatsApp-DP-44.jpg"
                    class="rounded-circle mx-auto border border-5 shadow border-white w-50 my-2" alt="Profile Picture">
                <h4 class="my-2 text-center"> @ViewBag.UserLoggedIn.FirstName @ViewBag.UserLoggedIn.LastName</h4>
                <p class="my-2 text-center">Preferred Pronouns: @ViewBag.UserLoggedIn.Pronouns</p>

                <a href="/edit/patientprofile" class="btn btn-sm btn-outline-light col-8 mx-auto my-3"><i
                        class="bi bi-gear"></i> Edit Profile</a>
            </div>

            <div class="card col-sm-10 col-10 mx-auto mb-4 bg-gray-100 rounded-3">
                <div class="card-header border-bottom bg-gray-500">
                    <span class="card-title fw-bold">Patient Information:</span>
                </div>
                <div class="card-body p-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item bg-gray-100">Sex:</li>
                        <li class="list-group-item bg-gray-100">Height:</li>
                        <li class="list-group-item bg-gray-100 p-0 m-0">
                            <partial name="_Allergies-MedHx" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>
    <div class="col-12 col-sm-8">
        <div class="col-sm-12">
            <div class="btn-group w-100">
                <button type="button" class="btn btn-outline-primary col-sm-9" disabled>
                    <small>“Books are a uniquely portable magic.”</small>
                </button>
                <button type="button" class="btn btn-primary col-sm-3 dropdown-toggle" data-bs-toggle="dropdown"
                    data-bs-display="static" aria-expanded="false">
                    Extra
                </button>
                <ul class="dropdown-menu dropdown-menu-lg-end">
                    <li>
                        <a class="dropdown-item" href="#">Settings</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Edit Account Info</a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="#">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 row me-0 mt-3 justify-content-between">
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card">

                    <div class="card-body bg-gray-400 p-2 text-center">
                        <h6 class="card-title">Recent Blood Pressure:</h6>
                        <hr class="my-2 mx-auto">
                        <p class="display-6">120/80</p>
                        <hr class="my-2 mx-auto">
                        <small class="text-muted">On Jun 12, 2022 - 08:10am</small>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card">

                    <div class="card-body bg-gray-400 p-2 text-center">
                        <h6 class="card-title">Weight:</h6>
                        <hr class="my-2 mx-auto">
                        <p class="display-6">@ViewBag.PatientInfo.Weight kg</p>
                        <hr class="my-2 mx-auto">
                        <small class="text-muted">@((int)(Convert.ToDouble(ViewBag.PatientInfo.Weight)*2.2)) lbs</small>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-12 col-lg-4">
                <div class="card">

                    <div class="card-body bg-gray-400 p-2 text-center">
                        <h6 class="card-title">Next Appointment:</h6>
                        <hr class="my-2 mx-auto">

                        @if(ViewBag.NextAppointment != null)
                        {
                            <p class="fs-3"> @ViewBag.NextAppointment.DateTime.ToString("MMMM dd") at
                                @ViewBag.NextAppointment.DateTime.ToString("h:mm tt")</p>
                            <hr class="my-2 mx-auto">
                            <small class="text-muted fst-italic">Dr.
                                @ViewBag.NextAppointment.Provider.User.PreferredName</small>
                        }
                        else
                        {
                            <p class="fs-3"> You have No Upcoming Appointments Scheduled</p>
                        }
                    </div>

                </div>
            </div>
        </div>


        <div class="rowtwo">

            <div>

                <div>
                    <h4>Medications</h4>
                </div>
                <div>
                    <partial name="_PatientMeds" />
                    <partial name="_PtAddedMeds" />
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header bg-gray-500">
                <h5 class="mb-0">Visit History:</h5>
            </div>
            <div class="card-body p-0">
                <partial name="_PatientAppt"/>
            </div>
            
        </div>


        <partial name="_MedicalNotesAcc" />

    </div>
</div>