@{
    ViewData["Title"] = "Welcome";
    Layout = "_LayoutBS";
}

<div class="row">
    
    <partial name="_LeftColumn"/>

    <div class="col-12 col-sm-8">
        <h3>Add Medical Information:</h3>
        <div>
            <h4>Medications</h4>
            <partial name="_AddPtMed" />
        </div>
        <div>
        <nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading1">First</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#scrollspyHeading2">Second</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Dropdown</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#scrollspyHeading3">Third</a></li>
        <li><a class="dropdown-item" href="#scrollspyHeading4">Fourth</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#scrollspyHeading5">Fifth</a></li>
      </ul>
    </li>
  </ul>
</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <h4 id="scrollspyHeading1">Prescribed Medications</h4>
  <p>...</p>
  <h4 id="scrollspyHeading2">Patient Reported Medications</h4>
  <p>...</p>

</div>
            @if (ViewBag.PatientInfo.Medications.Count != 0)
{    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prescribed Medication Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.PatientInfo.Medications)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Description</td>
                    <td>
                        <a href="/remove/medication/@i.MedicationId" class="btn btn-primary">Remove Medication</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
        } else {
            <p>You currently do not have any prescribed medications listed. </p>
        }

        </div>
                <div>
            @if (ViewBag.PatientInfo.ReportedMedications.Count != 0)
{    
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Reported Medication Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in ViewBag.PatientInfo.ReportedMedications)
            {
                <tr>
                    <td>@i.Name</td>
                    <td>@i.Description</td>
                    <td>
                        <a href="/remove/ptmedication/@i.ReportedMedicationId" class="btn btn-primary">Remove Medication</a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
        } else {
            <p>You do not have any reported medications listed. </p>
        }

        </div>

        <div>
            <h4>Allergies</h4>
            <partial name="_AddAllergy" />
        </div>
        <div>
            @if (@ViewBag.PatientAllergies.Allergies.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Reaction</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in ViewBag.PatientAllergies.Allergies)
                        {
                            <tr>
                                <td>@i.Name</td>
                                <td>@i.Reaction</td>
                                <td>
                                    <a href="/remove/allergy/@i.AllergyId" class="btn btn-primary">Remove Allergy</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently do not have any allergies listed. </p>
            }
        </div>
        <div>
            <h4>Medical History </h4>
            <partial name="_AddMedHx" />
        </div>
        <div>
            @if (@ViewBag.PatientMedHx.MedicalHistory.Count != 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Diagnosis</th>
                            <th scope="col">Year Diagnosed</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var i in ViewBag.PatientMedHx.MedicalHistory)
                        {
                            <tr>
                                <td>@i.Diagnosis</td>
                                <td>@i.DateofDx</td>
                                <td><a href="/remove/medicalhx/@i.MedicalHistoryId" class="btn btn-primary">Remove Diagnosis</a> </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p>You currently do not have any diagnoses listed. </p>
            }
        </div>
    </div>
</div>
